*{
    margin: 0;
    padding: 0;
}
/* Landing */
#landing{
    /* background-image: url(https://i.postimg.cc/SRR374jM/background.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    /* background-image: url(https://i.postimg.cc/9FcpYmz5/bg-2.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    background-image: url(https://i.postimg.cc/Wzfpfpmp/bg-3.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 70vh; */
    /* width: 100vw; */ 
}
#landing-container{
    text-align: center;
    padding-top:10%;
}
#landing-Title{
    color: white;
    padding: 0 0 1% 0 ;
}
.landing-desc{
    color: white;
    font-size: 2rem;
    padding: 0 0 1% 0 ;
}
.admin-btn a{
    color: white;
}
/* Filter */
#landing-filter{
    /* background-color: rgb(12 48 72); */
    /* margin: 11% 10% 0 10%; */
    padding: 3% 0% 3% 0%;
    border-radius: 10px;
}
#landing-filter .row{
    color: white;
}

/* Property Listing Section */
#propertyListing{
    /* background-color: rgb(12 48 72); */
    /* border: 10px solid rgb(114 103 63); */
    border: 10px solid rgb(12 48 72);
}
#propertyListing-Title{
    text-align: center;
    color: black;
    padding: 2% 0 0 0;
}
#propertyListing-Title2{
    text-align: center;
    padding: 2% 0 0 0;
}
#properties-row{
    margin: 0 0 0 35px;
}
.btn{
    color: white;
    background: rgb(12 48 72);
    transition: all 0.6s ease-in-out;
}
.btn:hover{
    color: white;
    background: rgb(12 48 72);
    transform: scale(1.1);
}
.card{
    box-shadow: 1px 3px 10px 10px rgb(12 48 72);
}
.card-property-height{
    height: 450px;
    margin-bottom: 5px;
}
/* Agent Section */
#agent{
    background: rgb(12 48 72);
    color: white;
}
#agent-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px 0;
}
/* Agent img */
.agent-img{
    border-radius: 50%;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: 0 -1px;
}
#agent .card{
    background: transparent;
}
.card-height{
    /* height: 466px; */
    margin-bottom: 25px;
    color: white;
}
select{
    color: grey;
}
option{
    color: black;
}
/* Contact Form */
#contact h2{
    margin: 5px 0 0 0;
    text-align: center;
}
#name{
    margin-left: 700px;
}
#name>input{
    background: rgb(12 48 72);
    color: white;
}
#email{
    margin-left: 700px;
}
#email>input{
    background: rgb(12 48 72);
    color: white;
}
.form-label{
    margin-left: 700px;
}
#submit{
    background: rgb(12 48 72);
    transition: 0.6s ease-in-out;
}
#submit:hover{
    transform: scale(1.1);
}
#footer{
    background: rgb(12 48 72);
    color: white;
}
#foot{
    text-align: center;
    padding: 20px;
}
.bcontact{
    border: 3px solid rgb(12 48 72);
}
.bcontact:focus{
    border: 3px solid rgb(12 48 72);
}
.bcontact:focus::placeholder{
    transition: 0.4s ease-in-out;
    color: transparent;
}
.bcontact::placeholder{
    transition: 0.4s ease-in-out;
}
@media screen and (min-width:1023px) and (max-width:1025px) {
    #properties-row {
        margin: 0 0 0 0px;
    }
    #landing-filter {
        margin: 17% 10% 0 10%;
    }
    #name{
        margin-left: 385px;
    }
    #email{
        margin-left: 385px;
    }
    .form-label{
        margin-left: 385px;
    }
    #Submit{
        margin-left: 465px;
    }
}
@media screen and (min-width:767px) and (max-width:769px) {
    #properties-row {
        margin: 0 0 0 0px;
    }
    #landing-filter {
        margin: 17% 10% 0 10%;
    }
    #name{
        margin-left: 265px;
    }
    #email{
        margin-left: 265px;
    }
    .form-label{
        margin-left: 265px;
    }
    #Submit{
        margin-left: 350px;
    }
    .admin-btn{
        padding-left: 65px;
    }
    .property-rooms{
        padding-left: 15px;
    }
    .property-toilets{
        padding-left: 5px;
    }
    .property-location{
        padding-left: 33px;
    }
    .property-budget{
        padding-left: 45px;
    }
    .agent-img{
        object-position: 0 -1px;
    }
}
@media screen and (min-width:424px) and (max-width:426px) {
    #properties-row {
        margin: 0 0 0 0px;
    }
    #landing-filter {
        margin: 17% 10% 0 10%;
    }
    #name{
        margin-left: 100px;
    }
    #email{
        margin-left: 100px;
    }
    .form-label{
        margin-left: 100px;
    }
    #Submit{
        margin-left: 180px;
    }
    #exampleFormControlTextarea1 {
        width: 275px;
    }
}
