*{
    margin: 0;
    padding: 0;
}
/* Landing */
#landing{
    /* background-image: url(https://i.postimg.cc/SRR374jM/background.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    /* background-image: url(https://i.postimg.cc/9FcpYmz5/bg-2.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    background-image: url(https://i.postimg.cc/Wzfpfpmp/bg-3.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    /* width: 100vw; */ 
}
#landing-container{
    text-align: center;
    padding-top:10%;
}
#landing-Title{
    color: white;
    padding: 0 0 1% 0 ;
}
.landing-desc{
    color: white;
    font-size: 30px;
    padding: 0 0 1% 0 ;

}
.admin-btn a{
    color: white;
}
/* Filter */
#landing-filter{
    background-color: rgb(12 48 72);
    margin: 11% 10% 0 10%;
    border-radius: 10px;

}
#landing-filter .row{
    color: white;
}

/* Property Listing Section */
#propertyListing{
    /* background-color: rgb(12 48 72); */
    /* border: 10px solid rgb(114 103 63); */
    border: 10px solid rgb(12 48 72);
}
#propertyListing-Title{
    text-align: center;
    color: black;
    padding: 6% 0 0 0;
}
#propertyListing-Title2{
    text-align: center;
    padding: 2% 0 0 0;
}
#properties-row{
    margin: 0 0 0 35px;
}
.btn{
    color: white;
    background: rgb(12 48 72);
}
.card{
    box-shadow: 1px 3px 10px 10px rgb(12 48 72);
}
.card-property-height{
    height: 450px;
    margin-bottom: 5px;
}
/* Agent Section */
#agent{
    background: rgb(12 48 72);
    color: white;
}
#agent-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px 0;
}
/* Agent img */
.agent-img{
    border-radius: 50%;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: 0 -1px;
}
#agent .card{
    background: transparent;
}
.card-height{
    /* height: 466px; */
    margin-bottom: 25px;
    color: white;

}
select{
    color: grey;
}
option{
    color: black;
}
/* Contact Form */
#contact h2{
    text-align: center;
}
#name{
    margin-left: 700px;
}
#name>input{
    background: rgb(12 48 72);
    color: white;
}
#email{
    margin-left: 700px;
}
#email>input{
    background: rgb(12 48 72);
    color: white;
}
.form-label{
    margin-left: 700px;
}
#exampleFormControlTextarea1{
    width: 500px;
    margin: auto;
    background: rgb(12 48 72);
    color: white;
}
#Submit{
    margin-left: 750px;
    color: white;
    background-color: rgb(12 48 72);
}
#footer{
    background: rgb(12 48 72);
    color: white;
}
#foot{
    text-align: center;
    padding: 20px;
}