*{
    margin: 0;
    padding: 0;
}
/* Landing */
#landing{
    background-image: url(../image/background.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
}
#landing-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top:10%;
}
#landing-Title{
    color: white;
}
.landing-desc{
    color: white;
    font-size: 30px;
}
/* Filter */
#landing-filter{
    background-color: green;
    margin: 11% 10% 0 10%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
}
#landing-filter .row{
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; */
    /* For gap in col */
    /* padding: 20px; */
    /* Move col */
    /* padding-left and right  */

}

/* Property Listing Section */
#propertyListing-Title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8%;
}
#properties-row{
    margin: 0 0 0 35px;
}
.card{
    box-shadow: 3px 3px 10px 1px black;
    transition: 0.3s linear;
}
.card:hover{
    transform: scale(1.07);
}
/* Agent Section */
#agent-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px 0;
}
/* Agent img */
.agent-img{
    border-radius: 50%;
    height: 40vh;
    width: 100%;
    object-fit: cover;
}
select{
    color: grey;
}
option{
    color: black;
}